<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">

</head>
<body>
<h1>Delete City</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/cities">Cities list</a>
</p>
<form th:action="@{/cities/delete-city}" th:object="${city}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table id="cities">
        <tr>
            <td>Name:</td>
            <td th:text="${city.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete City"></td>
        </tr>
    </table>
</form>
</body>
</html>